<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sobre</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="icon" href="/img/weather.png">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <img src="img/robot.png" alt="image" class="portrait">
    </div>

    {{>footer}}
</body>
</html>